.footer-icons {
  color: white;
  float: right;
  margin-right: 5%;
  font-size: 20px;
}
.footer-icons-container {
  padding-right: 2%;
}
.joinus-container {
  background-color: #b004e2;
  height: 3.3rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.join-us {
  height: 1.7rem;
  font-size: 14px;
}

.category-container {
  background-color: #f7f8fa;
  min-height: 10rem;
  padding-top: 1.6rem;
}

.listStyle {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  li {
    margin-bottom: 2%;
  }
}

.payment-photo {
  img {
    padding-left: 2%;
  }
}
