.footer-icons {
  margin-right: 1rem;
  color: white;
}
.joinus-container {
  background-color: purple;
  height: 3.3rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.join-us {
  height: 1.7rem;
  font-size: 14px;
}

.fb {
  margin-left: 4.4rem;
}

.category-container {
  background-color: lightgrey;
  min-height: 10rem;
  padding-top: 1.6rem;
}
.first-grid {
  padding-left: 26%;
}

.listStyle {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}
